{
    "swagger": "2.0",
    "info": {
        "description": "Get Legal Entity",
        "version": "v1.0.0",
        "title": "Get Legal Entity"
    },
    "host": "api.server.com",
    "basePath": "/api/v1.0.0/",
    "schemes": [
        "http",
        "https"
    ],
    "security": [
        {
            "basicAuth": []
        }
    ],
    "paths": {
        "/holdings/getLegalEntity": {
            "get": {
                "operationId": "identificationClient",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "legalEntityExternId",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "page_size",
                        "in": "query",
                        "description": "The total number of records per page",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "page_start",
                        "in": "query",
                        "description": "The record from which the response should be displayed",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "page_token",
                        "in": "query",
                        "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "credentials",
                        "in": "header",
                        "description": "Login credentials with username and password",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "companyId",
                        "in": "header",
                        "description": "The identifier of the underlying Entity/Company/Branch.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "deviceId",
                        "in": "header",
                        "description": "Identifies the device type",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userRole",
                        "in": "header",
                        "description": "User who initiated the transaction",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ClientResponse",
                        "schema": {
                            "$ref": "#/definitions/ClientResponse"
                        }
                    },
                    "400": {
                        "description": "BusinessQueryErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/BusinessQueryErrorResponse"
                        }
                    },
                    "500": {
                        "description": "SystemQueryErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/SystemQueryErrorResponse"
                        }
                    },
                    "default": {
                        "description": "QueryErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/QueryErrorResponse"
                        }
                    }
                }
            }
        }
    },
    "securityDefinitions": {
        "basicAuth": {
            "type": "basic"
        }
    },
    "definitions": {
        "QueryHeader": {
            "properties": {
                "audit": {
                    "type": "object",
                    "properties": {
                        "T24_time": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to response by T24"
                        },
                        "versionNumber": {
                            "type": "string",
                            "description": "The CURR.NO. of the record"
                        },
                        "parse_time": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to parse the response by IRIS"
                        }
                    }
                },
                "page_size": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The total number of records per page"
                },
                "page_start": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The record from which the response should be displayed"
                },
                "total_size": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The total number of records present"
                },
                "page_token": {
                    "type": "string",
                    "description": "Unique id expected to get as part of response from t24 on every enquiry request"
                }
            }
        },
        "ClientResponse": {
            "properties": {
                "header": {
                    "$ref": "#/definitions/QueryHeader"
                },
                "body": {
                    "$ref": "#/definitions/ClientResponseBody"
                }
            },
            "description": "ClientResponse"
        },
        "ClientResponseBody": {
            "type": "array",
            "items": {
                "type": "object",
                "properties": {
                    "clientExists": {
                        "type": "string",
                        "description": "Client Existant"
                    },
                    "legalEntityExternalId": {
                        "type": "string",
                        "description": ""
                    },
                    "legalEntityName": {
                        "type": "string",
                        "description": ""
                    },
                    "eligible": {
                        "type": "string",
                        "description": ""
                    },
                    "BillingAccountNumber": {
                        "type": "string",
                        "description": ""
                    },
                    "errorReason": {
                        "type": "string",
                        "description": ""
                    }
                }
            }
        },
        "ErrorHeader": {
            "properties": {
                "audit": {
                    "type": "object",
                    "properties": {
                        "T24_time": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to response by T24"
                        },
                        "versionNumber": {
                            "type": "string",
                            "description": "The CURR.NO. of the record"
                        },
                        "parse_time": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to parse the response by IRIS"
                        }
                    }
                }
            }
        },
        "QueryErrorResponse": {
            "properties": {
                "header": {
                    "$ref": "#/definitions/ErrorHeader"
                },
                "error": {
                    "$ref": "#/definitions/QueryErrorResponseBody"
                }
            },
            "description": "QueryErrorResponse"
        },
        "QueryErrorResponseBody": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "string",
                    "description": "The identifier of the error message"
                },
                "message": {
                    "type": "string",
                    "description": "The actual t24 error message "
                },
                "type": {
                    "type": "string",
                    "description": "The identifier of error type: "
                }
            }
        },
        "BusinessQueryErrorResponse": {
            "properties": {
                "header": {
                    "$ref": "#/definitions/ErrorHeader"
                },
                "error": {
                    "$ref": "#/definitions/BusinessQueryErrorResponseBody"
                }
            },
            "description": "BusinessQueryErrorResponse"
        },
        "BusinessQueryErrorResponseBody": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "string",
                    "description": "The identifier of the error message"
                },
                "message": {
                    "type": "string",
                    "description": "The actual t24 error message for bad requests"
                },
                "type": {
                    "type": "string",
                    "description": "The identifier of error type: Business"
                }
            }
        },
        "SystemQueryErrorResponse": {
            "properties": {
                "header": {
                    "$ref": "#/definitions/ErrorHeader"
                },
                "error": {
                    "$ref": "#/definitions/SystemQueryErrorResponseBody"
                }
            },
            "description": "SystemQueryErrorResponse"
        },
        "SystemQueryErrorResponseBody": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "string",
                    "description": "The identifier of the error message"
                },
                "message": {
                    "type": "string",
                    "description": "The actual t24 error message caused by server"
                },
                "type": {
                    "type": "string",
                    "description": "The identifier of error type: System"
                }
            }
        }
    }
}