{
    "swagger": "2.0",
    "info": {
        "description": "HOLDING ENROLLMENT DESCRIPTION",
        "version": "v1.0.0",
        "title": "HOLDING ENROLLMENT"
    },
    "host": "api.server.com",
    "basePath": "/api/v1.0.0/",
    "schemes": [
        "http",
        "https"
    ],
    "security": [
        {
            "basicAuth": []
        }
    ],
    "paths": {
        "/holdings/enrollmentElligi": {
            "get": {
                "operationId": "selfSubscription",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "temporaryTableId",
                        "in": "query",
                        "description": "Identifiant table temporaire",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "page_size",
                        "in": "query",
                        "description": "The total number of records per page",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "page_start",
                        "in": "query",
                        "description": "The record from which the response should be displayed",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "page_token",
                        "in": "query",
                        "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "credentials",
                        "in": "header",
                        "description": "Login credentials with username and password",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "companyId",
                        "in": "header",
                        "description": "The identifier of the underlying Entity/Company/Branch.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "deviceId",
                        "in": "header",
                        "description": "Identifies the device type",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userRole",
                        "in": "header",
                        "description": "User who initiated the transaction",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "SubscriptionResponse",
                        "schema": {
                            "$ref": "#/definitions/SubscriptionResponse"
                        }
                    },
                    "400": {
                        "description": "BusinessQueryErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/BusinessQueryErrorResponse"
                        }
                    },
                    "500": {
                        "description": "SystemQueryErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/SystemQueryErrorResponse"
                        }
                    },
                    "default": {
                        "description": "QueryErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/QueryErrorResponse"
                        }
                    }
                }
            }
        },
        "/holdings/enrollment": {
            "get": {
                "operationId": "identificationClient",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "typeOfDocument",
                        "in": "query",
                        "description": "Type du document",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "numDocument",
                        "in": "query",
                        "description": "Numéro Document",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "dateOfBirth",
                        "in": "query",
                        "description": "The date of birth of an individual customer",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "emailAddress",
                        "in": "query",
                        "description": "Email addresse",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "phoneNumber",
                        "in": "query",
                        "description": "The phone number of the customer or prospect",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "lastNameFirstName",
                        "in": "query",
                        "description": "Nom Prenom",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "page_size",
                        "in": "query",
                        "description": "The total number of records per page",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "page_start",
                        "in": "query",
                        "description": "The record from which the response should be displayed",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "page_token",
                        "in": "query",
                        "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "credentials",
                        "in": "header",
                        "description": "Login credentials with username and password",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "companyId",
                        "in": "header",
                        "description": "The identifier of the underlying Entity/Company/Branch.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "deviceId",
                        "in": "header",
                        "description": "Identifies the device type",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userRole",
                        "in": "header",
                        "description": "User who initiated the transaction",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ClientResponse",
                        "schema": {
                            "$ref": "#/definitions/ClientResponse"
                        }
                    },
                    "400": {
                        "description": "BusinessQueryErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/BusinessQueryErrorResponse"
                        }
                    },
                    "500": {
                        "description": "SystemQueryErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/SystemQueryErrorResponse"
                        }
                    },
                    "default": {
                        "description": "QueryErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/QueryErrorResponse"
                        }
                    }
                }
            }
        },
        "/holdings/resilSubscription": {
            "get": {
                "operationId": "resilSubscription",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "idMyBankT24",
                        "in": "query",
                        "description": "Identifiant table temporaire",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "statutAbonnement",
                        "in": "query",
                        "description": "statut Abonnement",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "motifResilAbonnement",
                        "in": "query",
                        "description": "Motif Résiliation Abonnemennt",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "page_size",
                        "in": "query",
                        "description": "The total number of records per page",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "page_start",
                        "in": "query",
                        "description": "The record from which the response should be displayed",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "page_token",
                        "in": "query",
                        "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "credentials",
                        "in": "header",
                        "description": "Login credentials with username and password",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "companyId",
                        "in": "header",
                        "description": "The identifier of the underlying Entity/Company/Branch.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "deviceId",
                        "in": "header",
                        "description": "Identifies the device type",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userRole",
                        "in": "header",
                        "description": "User who initiated the transaction",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "SubscriptionResponse",
                        "schema": {
                            "$ref": "#/definitions/SubscriptionResponse1"
                        }
                    },
                    "400": {
                        "description": "BusinessQueryErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/BusinessQueryErrorResponse"
                        }
                    },
                    "500": {
                        "description": "SystemQueryErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/SystemQueryErrorResponse"
                        }
                    },
                    "default": {
                        "description": "QueryErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/QueryErrorResponse"
                        }
                    }
                }
            }
        },
        "/holdings/firstConnexion": {
            "get": {
                "operationId": "firstConnexion",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "idMyBankT24",
                        "in": "query",
                        "description": "Identifiant table temporaire",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "datePremConnexion",
                        "in": "query",
                        "description": "Date Premiere Connexion",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "statutAbonnement",
                        "in": "query",
                        "description": "statut Abonnement",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "page_size",
                        "in": "query",
                        "description": "The total number of records per page",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "page_start",
                        "in": "query",
                        "description": "The record from which the response should be displayed",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "page_token",
                        "in": "query",
                        "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "credentials",
                        "in": "header",
                        "description": "Login credentials with username and password",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "companyId",
                        "in": "header",
                        "description": "The identifier of the underlying Entity/Company/Branch.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "deviceId",
                        "in": "header",
                        "description": "Identifies the device type",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userRole",
                        "in": "header",
                        "description": "User who initiated the transaction",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ConnexionResponse",
                        "schema": {
                            "$ref": "#/definitions/ConnexionResponse"
                        }
                    },
                    "400": {
                        "description": "BusinessQueryErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/BusinessQueryErrorResponse"
                        }
                    },
                    "500": {
                        "description": "SystemQueryErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/SystemQueryErrorResponse"
                        }
                    },
                    "default": {
                        "description": "QueryErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/QueryErrorResponse"
                        }
                    }
                }
            }
        }
    },
    "securityDefinitions": {
        "basicAuth": {
            "type": "basic"
        }
    },
    "definitions": {
        "QueryHeader": {
            "properties": {
                "audit": {
                    "type": "object",
                    "properties": {
                        "T24_time": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to response by T24"
                        },
                        "versionNumber": {
                            "type": "string",
                            "description": "The CURR.NO. of the record"
                        },
                        "parse_time": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to parse the response by IRIS"
                        }
                    }
                },
                "page_size": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The total number of records per page"
                },
                "page_start": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The record from which the response should be displayed"
                },
                "total_size": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The total number of records present"
                },
                "page_token": {
                    "type": "string",
                    "description": "Unique id expected to get as part of response from t24 on every enquiry request"
                }
            }
        },
        "SubscriptionResponse": {
            "properties": {
                "header": {
                    "$ref": "#/definitions/QueryHeader"
                },
                "body": {
                    "$ref": "#/definitions/SubscriptionResponseBody"
                }
            },
            "description": "SubscriptionResponse"
        },
        "SubscriptionResponseBody": {
            "type": "array",
            "items": {
                "type": "object",
                "properties": {
                    "MyBANKSubscriptionInT24": {
                        "type": "string",
                        "description": "souscription mybank dans t24",
                        "maxLength": 100
                    },
                    "temporaryTableId": {
                        "type": "string",
                        "description": "Identifiant table temporaire",
                        "maxLength": 100
                    },
                    "customerId": {
                        "type": "string",
                        "description": "The identifier of the customer",
                        "maxLength": 100
                    },
                    "nameT24": {
                        "type": "string",
                        "description": "Name T24",
                        "maxLength": 100
                    },
                    "lastNameFirstName": {
                        "type": "string",
                        "description": "Nom Prenom",
                        "maxLength": 100
                    },
                    "typeOfDocument": {
                        "type": "string",
                        "description": "Type du document",
                        "maxLength": 100
                    },
                    "numDocument": {
                        "type": "string",
                        "description": "Numéro Document",
                        "maxLength": 100
                    },
                    "dateOfBirth": {
                        "type": "string",
                        "description": "The date of birth of an individual customer",
                        "maxLength": 100
                    },
                    "emailAddress": {
                        "type": "string",
                        "description": "Email addresse",
                        "maxLength": 100
                    },
                    "phoneNumber": {
                        "type": "string",
                        "description": "The phone number of the customer or prospect",
                        "maxLength": 100
                    },
                    "pack": {
                        "type": "string",
                        "description": "Dispose d'un pack",
                        "maxLength": 100
                    },
                    "numCptFacturation": {
                        "type": "string",
                        "description": "numero compte de facturation",
                        "maxLength": 100
                    },
                    "idMyBankT24": {
                        "type": "string",
                        "description": "Identifiant table temporaire",
                        "maxLength": 70
                    },
                    "customerIdAbn": {
                        "type": "string",
                        "description": "Customer Id Abn",
                        "maxLength": 100
                    },
                    "emailAddressAbn": {
                        "type": "string",
                        "description": "Email Address Abn",
                        "maxLength": 100
                    },
                    "phoneNumberAbn": {
                        "type": "string",
                        "description": "Phone Number Abn",
                        "maxLength": 100
                    },
                    "contratSigne": {
                        "type": "string",
                        "description": "Contrat signe ou non",
                        "maxLength": 100
                    },
                    "contratMyBANK": {
                        "type": "string",
                        "description": "contratMyBANK",
                        "maxLength": 100
                    },
                    "packAbn": {
                        "type": "string",
                        "description": "Pack Abn",
                        "maxLength": 100
                    },
                    "dailyLimitPack": {
                        "type": "string",
                        "description": "daily Limit Pack",
                        "maxLength": 100
                    },
                    "dateCreation": {
                        "type": "string",
                        "description": "date de creation",
                        "maxLength": 100
                    },
                    "statutUserMyBank": {
                        "type": "string",
                        "description": "Statut User Abonnement BANK",
                        "maxLength": 100
                    },
                    "statutAbonnement": {
                        "type": "string",
                        "description": "statut Abonnement",
                        "maxLength": 100
                    }
                }
            }
        },
        "ErrorHeader": {
            "properties": {
                "audit": {
                    "type": "object",
                    "properties": {
                        "T24_time": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to response by T24"
                        },
                        "versionNumber": {
                            "type": "string",
                            "description": "The CURR.NO. of the record"
                        },
                        "parse_time": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to parse the response by IRIS"
                        }
                    }
                }
            }
        },
        "QueryErrorResponse": {
            "properties": {
                "header": {
                    "$ref": "#/definitions/ErrorHeader"
                },
                "error": {
                    "$ref": "#/definitions/QueryErrorResponseBody"
                }
            },
            "description": "QueryErrorResponse"
        },
        "QueryErrorResponseBody": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "string",
                    "description": "The identifier of the error message"
                },
                "message": {
                    "type": "string",
                    "description": "The actual t24 error message "
                },
                "type": {
                    "type": "string",
                    "description": "The identifier of error type: "
                }
            }
        },
        "BusinessQueryErrorResponse": {
            "properties": {
                "header": {
                    "$ref": "#/definitions/ErrorHeader"
                },
                "error": {
                    "$ref": "#/definitions/BusinessQueryErrorResponseBody"
                }
            },
            "description": "BusinessQueryErrorResponse"
        },
        "BusinessQueryErrorResponseBody": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "string",
                    "description": "The identifier of the error message"
                },
                "message": {
                    "type": "string",
                    "description": "The actual t24 error message for bad requests"
                },
                "type": {
                    "type": "string",
                    "description": "The identifier of error type: Business"
                }
            }
        },
        "SystemQueryErrorResponse": {
            "properties": {
                "header": {
                    "$ref": "#/definitions/ErrorHeader"
                },
                "error": {
                    "$ref": "#/definitions/SystemQueryErrorResponseBody"
                }
            },
            "description": "SystemQueryErrorResponse"
        },
        "SystemQueryErrorResponseBody": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "string",
                    "description": "The identifier of the error message"
                },
                "message": {
                    "type": "string",
                    "description": "The actual t24 error message caused by server"
                },
                "type": {
                    "type": "string",
                    "description": "The identifier of error type: System"
                }
            }
        },
        "ClientResponse": {
            "properties": {
                "header": {
                    "$ref": "#/definitions/QueryHeader"
                },
                "body": {
                    "$ref": "#/definitions/ClientResponseBody"
                }
            },
            "description": "ClientResponse"
        },
        "ClientResponseBody": {
            "type": "array",
            "items": {
                "type": "object",
                "properties": {
                    "clientExists": {
                        "type": "string",
                        "description": "Client Existant"
                    },
                    "customerId": {
                        "type": "string",
                        "description": "The identifier of the customer"
                    },
                    "temporaryTableId": {
                        "type": "string",
                        "description": "Identifiant table temporaire"
                    },
                    "MyBANKSubscriptionInT24": {
                        "type": "string",
                        "description": "souscription mybank dans t24"
                    },
                    "clientSusbscribedToMyBANK": {
                        "type": "string",
                        "description": "Client Souscrit à MyBANK"
                    },
                    "clientEligibleToMyBANK": {
                        "type": "string",
                        "description": "Elligibilité Client"
                    },
                    "reason": {
                        "type": "string",
                        "description": "The reason field is a free text field for the user to record why an activity was performed on the account ."
                    },
                    "emailAddressExists": {
                        "type": "string",
                        "description": "Existence Adresse Mail"
                    },
                    "phoneNumberExists": {
                        "type": "string",
                        "description": "Existence Numero Tel"
                    },
                    "statutUserMyBank": {
                        "type": "string",
                        "description": "Statut User Abonnement BANK"
                    }
                }
            }
        },
        "SubscriptionResponse1": {
            "properties": {
                "header": {
                    "$ref": "#/definitions/QueryHeader"
                },
                "body": {
                    "$ref": "#/definitions/SubscriptionResponse1Body"
                }
            },
            "description": "SubscriptionResponse1"
        },
        "SubscriptionResponse1Body": {
            "type": "array",
            "items": {
                "type": "object",
                "properties": {
                    "statutAbonnement": {
                        "type": "string",
                        "description": "statut Abonnement",
                        "maxLength": 100
                    },
                    "motifResilAbonnement": {
                        "type": "string",
                        "description": "Motif Résiliation Abonnemennt",
                        "maxLength": 100
                    },
                    "motifResilCus": {
                        "type": "string",
                        "description": "Motif Résiliation Customer",
                        "maxLength": 100
                    },
                    "errorMessage": {
                        "type": "string",
                        "description": "Description of the error.",
                        "maxLength": 100
                    },
                    "statutEnregistrement": {
                        "type": "string",
                        "description": "",
                        "maxLength": 100
                    },
                    "reason": {
                        "type": "string",
                        "description": "The reason field is a free text field for the user to record why an activity was performed on the account .",
                        "maxLength": 100
                    }
                }
            }
        },
        "ConnexionResponse": {
            "properties": {
                "header": {
                    "$ref": "#/definitions/QueryHeader"
                },
                "body": {
                    "$ref": "#/definitions/ConnexionResponseBody"
                }
            },
            "description": "ConnexionResponse"
        },
        "ConnexionResponseBody": {
            "type": "array",
            "items": {
                "type": "object",
                "properties": {
                    "statutAbonnement": {
                        "type": "string",
                        "description": "statut Abonnement",
                        "maxLength": 100
                    },
                    "datePremConnexion": {
                        "type": "string",
                        "description": "Date Premiere Connexion",
                        "maxLength": 100
                    },
                    "internetBankingService": {
                        "type": "string",
                        "description": "internetBankingService",
                        "maxLength": 100
                    },
                    "accountStatus": {
                        "type": "string",
                        "description": "The status of the account Possible values are -Active -Inactive -Closed",
                        "maxLength": 100
                    },
                    "myBankAccount": {
                        "type": "string",
                        "description": "myBankAccount",
                        "maxLength": 100
                    },
                    "errorMessage": {
                        "type": "string",
                        "description": "Description of the error.",
                        "maxLength": 100
                    },
                    "statutEnregistrement": {
                        "type": "string",
                        "description": "",
                        "maxLength": 100
                    },
                    "reason": {
                        "type": "string",
                        "description": "The reason field is a free text field for the user to record why an activity was performed on the account .",
                        "maxLength": 100
                    }
                }
            }
        }
    }
}